
.status_panel {
    display: flex;
    cursor: default;
    pointer-events: all;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    //padding: 0px 50px 0px 50px;
    overflow: scroll;
    //Style .FlexWrap = Wrap.Wrap;
    //Style .JustifyContent = Justify.Center;
    //Style .AlignItems = Align.Center;
    //Style .AlignContent = Align.Center;
    flex-wrap: nowrap;
    //flex-wrap: wrap;
    align-content: stretch;
    //align-content: center;
    //align-items: center;
    //justify-content: center;
    //border: 2px solid white;


    .status_icon {
        //cursor: pointer;
        color: white;
        //border: 2px solid white;
        border-radius: 50px;
        height: 60px;
        width: 60px;
        justify-content: center;
        mix-blend-mode: color;
        background-size: cover;
        background-position: center center;
        flex-shrink: 1;
        //flex-grow: 1;
        //pointer-events: visible;
        margin: 2px;
        padding: 10px 0px 10px 0px;
        opacity: 0.5;
        //padding-right: 2px;
        //image-rendering: pixelated;

        &:hover {
            //background-color: #301B3F99;
            //border: 2px solid #111111;
            opacity: 0.8;
        }
        //&.active, &:active {
        //    background-color: #3C415Cbb;
        //}

        .status_level_label {
            position: relative;
            left: 12px;
            bottom: 12px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: white;
            opacity: 1;

            .status_level_label_bg {
                color: black;
                position: relative;
                left: -11px;
                bottom: -3px;
                z-index: -1;
            }
        }
    }
}

.info {
    z-index: 10;
    position: absolute;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: #301B3F99;
    z-index: 10;
    //position:relative;
}

.info_panel {
    position: absolute;
    width: 180px;
    height: 100%;
    right: 0px;
    align-self: flex-end;
    //background-color: #00005533;
    pointer-events: none;
    justify-content: flex-start;
    flex-direction: column;
    //border: 3px solid white;

    //.info_name {
    //    color: #ffffff77;
    //}

    //.stats_label {
    //}

    .info_dash_outer_container {
        //background-color: #00008811;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }

    .info_dash_container {
        //background-color: #00FF8833;
        width: 100%;
        height: 480px;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 43px;
        margin-right: 24px;
    }

    .info_dash_icon {
        width: 95%;
        height: 30px;
        //padding: 4px;
        margin: 4px;
        background-color: #00000055;
        border: 2px solid #ffffff88;
        pointer-events: all;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 0.8;
            border: 2px solid #ffffff44;
        }

        .dash_icon_overlay {
            width: 100%;
            height: 100%;
            transform-origin: left;
            //transform: scaleX( 0.8 );
            background-color: #00ff0055;
            pointer-events: none;
        }

        .recharge {
            background-color: #00ff4411;
        }

        .dash_icon_label {
            color: #00000022;
            font-size: 18px;
            position: absolute;
        }
    }

    .recharge_icon {
        border: 2px solid #ffffff11;
    }
}

.xp_bar_panel {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0px;
    background-color: #00000033;
    pointer-events: none;

    .overlay_panel {
        width: 100%;
        height: 100%;
        background-color: #8888ff33;
        transition: all 0.2s ease-in-out;
    }
}

.choice_panel_root {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;

    .choice_modal {
        width: 900px;
        height: 480px;
        background-color: #00000033;
        border: 3px solid #ffffff33;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #00003399;
        margin-bottom: 22px;

        .choice_lvl_label {
            color: #66ffaa;
            font-size: 32px;
            //margin-top: 6px;
            margin-bottom: 12px;
            padding-top: 8px;
        }

        .choice_button_container {
            flex-direction: row;
            //flex-shrink: 1;
            //flex-wrap: nowrap;
            //overflow: clip;
            //align-items: stretch;
            margin-bottom: 20px;
        }

        .choice_button {
            width: 280px;
            height: 300px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid #ffffff55;
            margin-left: 5px;
            margin-right: 5px;
            flex-direction: column;
            align-items: center;
            //justify-content: center;
            //flex-shrink: 1;

            &:hover {
                border: 3px solid #ffffffee;
                background-color: #000000ee;
            }

            &:active {
                border: 3px solid #ffffffdd;
                background-color: #000033ff;
            }

            .choice_title {
                color: #66ff66;
                font-size: 22px;
                //border: 1px solid green;
                margin: 6px;
                padding: 4px;
            }

            .choice_icon {
                width: 100px;
                height: 100px;
                //border: 1px solid #ffffff22;
                margin-bottom: 4px;
                border-radius: 150px;
                image-rendering: pixelated;
            }

            .choice_description {
                font-style: italic;
                font-size: 18px;
                color: #ffffffaa;
                padding: 8px;
                //border: 1px solid blue;
            }
        }

        .reroll_button {
            width: 240px;
            height: 80px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid white;
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }

            .reroll_button_label {
                color: #aaaaaa;
                font-size: 24px;
                pointer-events: none;
            }

            .disabled_text {
                color: #aaaaaa22;
            }
        }

        .disabled {
            pointer-events: none;
            border: 3px solid #ffffff11;
        }
    }
}

.death_panel_root {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;

    .death_panel {
        width: 630px;
        height: 330px;
        border: 3px solid white;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        background-color: #333333ee;
        margin-bottom: 22px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;

        .death_label {
            color: #66ffaa;
            font-size: 32px;
            margin-bottom: 42px;
        }

        .death_button {
            width: 240px;
            height: 80px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid white;
            margin-left: 20px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }

            .death_button_label {
                color: #aaaaaa;
                font-size: 24px;
                pointer-events: none;
            }
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}



