
StatusPanel
{
    display: flex;
    cursor: default;
    pointer-events: all;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
    flex-wrap: nowrap;
    align-content: stretch;


    .status_icon {
        //cursor: pointer;
        color: white;
        //border: 2px solid white;
        border-radius: 50px;
        height: 60px;
        width: 60px;
        justify-content: center;
        mix-blend-mode: color;
        background-size: cover;
        background-position: center center;
        flex-shrink: 1;
        //flex-grow: 1;
        //pointer-events: visible;
        margin: 2px;
        padding: 10px 0px 10px 0px;
        opacity: 0.5;
        //padding-right: 2px;
        //image-rendering: pixelated;

        &:hover {
            //background-color: #301B3F99;
            //border: 2px solid #111111;
            opacity: 0.8;
        }
        //&.active, &:active {
        //    background-color: #3C415Cbb;
        //}

        .status_level_label {
            position: relative;
            left: 12px;
            bottom: 12px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: white;
            opacity: 1;

            .status_level_label_bg {
                color: black;
                position: relative;
                left: -11px;
                bottom: -3px;
                z-index: -1;
            }
        }

        .status_level_label_max {
            position: relative;
            left: 12px;
            bottom: 12px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: #aaaa00;
            opacity: 1;

            .status_level_label_bg {
                color: black;
                position: relative;
                left: -11px;
                bottom: -3px;
                z-index: -1;
            }
        }
    }
}

.info {
    z-index: 10;
    position: absolute;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: #301B3F99;
    z-index: 10;
    //position:relative;
}

InfoPanel
{
    position: absolute;
    width: 180px;
    right: 5%;
    bottom: 5%;
    top: 32px;
    align-self: flex-end;
    pointer-events: none;
    justify-content: flex-start;
    flex-direction: column-reverse;
    gap: 16px;

    .info_dash_container
    {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 8px;
    }

    .info_dash_icon
    {
        .dash_icon_overlay
        {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            transform-origin: left;
            background-color: #00ff0055;
            pointer-events: none;
        }

        .recharge
        {
            background-color: #00ff4411;
        }
    }

    .recharge_icon
    {
        
    }
}

.xp_bar_panel, .info_dash_icon
{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    height: 28px;
    background-color: #0005;
    pointer-events: all;
    align-items: center;
    justify-content: center;

    .label
    {
        color: #fff;
        font-size: 18px;
        font-weight: bolder;
        font-family: poppins;
        text-align: right;
        width: 100%;
        padding: 0px 10px;
        position: absolute;
        text-stroke: 5px black;
        opacity: 0.7;
    }

    .overlay_panel
    {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #8888ff33;
        transition: all 0.2s ease-in-out;
    }
}

ChoicePanel
{
    position: absolute;
    left: 0;
    right: 32px;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    .choice_modal
    {
        border-radius: 5px;
        backdrop-filter: blur( 10px );
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000a;

        .choice_lvl_label
        {
            color: #fffe;
            font-size: 30px;
            font-weight: bold;
            font-family: Poppins;
        }

        .choice_button_container
        {
            flex-direction: column;
            gap: 16px;
        }

        .choice_button
        {
            max-width: 300px;
            min-height: 90px;
            pointer-events: all;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;
            padding: 10px;
            padding-left: 100px;
            opacity: 1;
            gap: 5px;

            &:hover
            {
                opacity: 1;
                filter: brightness( 2 );
                background-color: #fff3;
            }

            &:active
            {
                background-color: #000033ff;
            }

            .choice_title
            {
                color: #66ff66;
                font-size: 22px;
            }

            .choice_icon
            {
                position: absolute;
                left: 8px;
                top: 8px;
                width: 80px;
                height: 80px;
                image-rendering: pixelated;
            }

            .choice_description
            {
                font-size: 14px;
                color: #fffe;
                padding: 4px;
                //border: 1px solid blue;
            }
        }

        .reroll_button
        {
            width: 100%;
            border-radius: 4px;
            height: 40px;
            background-color: #000000cc;
            pointer-events: all;
            margin-top: 4px;
            margin-bottom: 4px;
            align-items: center;
            justify-content: center;

            &:hover
            {
                background-color: #000000ff;
            }

            &:active
            {
                border: 3px solid #88880099;
            }

            .reroll_button_label
            {
                color: #aaaaaa;
                font-size: 18px;
                pointer-events: none;
            }

            .disabled_text
            {
                color: #aaaaaa22;
            }
        }

        .disabled
        {
            pointer-events: none;
            border: 3px solid #ffffff11;
        }
    }
}

.death_panel_root {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;

    .death_panel {
        width: 630px;
        height: 330px;
        border: 3px solid white;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        background-color: #333333ee;
        margin-bottom: 22px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;

        .death_label {
            color: #66ffaa;
            font-size: 32px;
            margin-bottom: 42px;
        }

        .death_button {
            width: 240px;
            height: 80px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid white;
            margin-left: 20px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }

            .death_button_label {
                color: #aaaaaa;
                font-size: 24px;
                pointer-events: none;
            }
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}



