//RootPanel {
//    .tools {
//        display: flex;
//        cursor: default;
//        pointer-events: all;
//        align-content: stretch;
//        flex-wrap: nowrap;

//        flex-direction: column;
//        flex-grow: 0;
//        flex-shrink: 0;
//        width: 100px;
//        height: 100%;
//        justify-content: flex-end;
//        align-items: center;
//        padding: 0px 20px 0px 20px;

//        .buttons {
//            cursor: pointer;
//            color: white;
//            border: 2px solid white;
//            border-radius: 15px;
//            height: 80px;
//            width: 80px;
//            justify-content: center;
//            mix-blend-mode: color;

//            .play {
//                font-size: 55px;
//                font-family: Arial;
//                color: white;
//                padding-right: 2px;
//            }

//            .next {
//                font-size: 45px;
//                font-family: Arial;
//                color: white;
//                padding-top: 6px;
//                padding-right: 3px;
//            }

//            .clear {
//                font-size: 43px;
//                font-family: Arial;
//                color: white;
//                padding-top: 7px;
//                padding-right: 3px;
//            }

//            &:hover {
//                background-color: #301B3F99;
//            }

//            &.active, &:active {
//                background-color: #3C415Cbb;
//            }
//        }
//    }

//    .info {
//        z-index: 10;
//        position: absolute;
//    }
//}

.status_panel {
    display: flex;
    cursor: default;
    pointer-events: all;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    //padding: 0px 50px 0px 50px;
    overflow: scroll;
    //Style .FlexWrap = Wrap.Wrap;
    //Style .JustifyContent = Justify.Center;
    //Style .AlignItems = Align.Center;
    //Style .AlignContent = Align.Center;
    flex-wrap: nowrap;
    //flex-wrap: wrap;
    align-content: stretch;
    //align-content: center;
    //align-items: center;
    //justify-content: center;
    //border: 2px solid white;


    .status_icon {
        //cursor: pointer;
        color: white;
        //border: 2px solid white;
        border-radius: 50px;
        height: 60px;
        width: 60px;
        justify-content: center;
        mix-blend-mode: color;
        background-size: cover;
        background-position: center center;
        flex-shrink: 1;
        //flex-grow: 1;
        //pointer-events: visible;
        margin: 2px;
        padding: 10px 0px 10px 0px;
        opacity: 0.5;
        //padding-right: 2px;

        &:hover {
            //background-color: #301B3F99;
            //border: 2px solid #111111;
            opacity: 0.8;
        }
        //&.active, &:active {
        //    background-color: #3C415Cbb;
        //}

        .status_level_label {
            position: relative;
            left: 12px;
            bottom: 12px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: white;
            opacity: 1;

            .status_level_label_bg {
                color: black;
                position: relative;
                left: -11px;
                bottom: -3px;
                z-index: -1;
            }
        }
    }
}

.info {
    z-index: 10;
    position: absolute;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: #301B3F99;
    z-index: 10;
    //position:relative;
}

.info_panel {
    position: absolute;
    width: 180px;
    height: 100%;
    right: 0px;
    align-self: flex-end;
    background-color: #00005533;
    pointer-events: none;
    justify-content: flex-start;
    flex-direction: column;

    .info_name {
        color: #ffffff77;
    }

    .stats_label {

    }
}

.xp_bar_panel {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0px;
    background-color: #00000033;
    pointer-events: none;

    .overlay_panel {
        width: 100%;
        height: 100%;
        background-color: #8888ff33;
        transition: all 0.2s ease-in-out;
    }
}

.choice_panel_root {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;

    .choice_modal {
        width: 1080px;
        height: 360px;
        background-color: #00000033;
        border: 3px solid white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #00003399;
        margin-bottom: 22px;

        .choice_lvl_label {
            color: #66ffaa;
            font-size: 32px;
            //margin-top: 6px;
            margin-bottom: 12px;
        }

        .choice_button_container {
            flex-direction: row;
        }

        .choice_button {
            width: 320px;
            height: 270px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid white;
            margin-left: 20px;
            margin-right: 20px;
            flex-direction: column;
            align-items: center;
            //justify-content: center;

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }

            .choice_title {
                color: #66ff66;
                font-size: 22px;
                //border: 1px solid green;
                margin: 13px;
                padding: 6px;
            }

            .choice_icon {
                width: 100px;
                height: 100px;
                //border: 1px solid #ffffff22;
                margin-bottom: 16px;
                border-radius: 150px;
            }

            .choice_description {
                font-style: italic;
                font-size: 18px;
                color: #ffffffaa;
                padding: 8px;
                //border: 1px solid blue;
            }
        }
    }
}

.death_panel_root {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;

    .death_panel {
        width: 630px;
        height: 330px;
        border: 3px solid white;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        background-color: #333333ee;
        margin-bottom: 22px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;

        .death_label {
            color: #66ffaa;
            font-size: 32px;
            margin-bottom: 42px;
        }

        .death_button {
            width: 240px;
            height: 80px;
            background-color: #000000cc;
            pointer-events: all;
            border: 3px solid white;
            margin-left: 20px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }

            .death_button_label {
                color: #aaaaaa;
                font-size: 24px;
                pointer-events: none;
            }
        }
    }
}



