//RootPanel {
//    .tools {
//        display: flex;
//        cursor: default;
//        pointer-events: all;
//        align-content: stretch;
//        flex-wrap: nowrap;

//        flex-direction: column;
//        flex-grow: 0;
//        flex-shrink: 0;
//        width: 100px;
//        height: 100%;
//        justify-content: flex-end;
//        align-items: center;
//        padding: 0px 20px 0px 20px;

//        .buttons {
//            cursor: pointer;
//            color: white;
//            border: 2px solid white;
//            border-radius: 15px;
//            height: 80px;
//            width: 80px;
//            justify-content: center;
//            mix-blend-mode: color;

//            .play {
//                font-size: 55px;
//                font-family: Arial;
//                color: white;
//                padding-right: 2px;
//            }

//            .next {
//                font-size: 45px;
//                font-family: Arial;
//                color: white;
//                padding-top: 6px;
//                padding-right: 3px;
//            }

//            .clear {
//                font-size: 43px;
//                font-family: Arial;
//                color: white;
//                padding-top: 7px;
//                padding-right: 3px;
//            }

//            &:hover {
//                background-color: #301B3F99;
//            }

//            &.active, &:active {
//                background-color: #3C415Cbb;
//            }
//        }
//    }

//    .info {
//        z-index: 10;
//        position: absolute;
//    }
//}

.tools {
    display: flex;
    cursor: default;
    pointer-events: all;
    align-content: stretch;

    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px 20px 20px;

    .buttons {
        cursor: pointer;
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        height: 80px;
        width: 80px;
        justify-content: center;
        mix-blend-mode: color;

        .play {
            font-size: 55px;
            font-family: Arial;
            color: white;
            padding-right: 2px;
        }

        &:hover {
            background-color: #301B3F99;
        }

        //&.active, &:active {
        //    background-color: #3C415Cbb;
        //}
    }
}

.info {
    z-index: 10;
    position: absolute;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: #301B3F99;
    z-index: 10;
    //position:relative;
}

.info_panel {
    position: absolute;
    width: 180px;
    height: 100%;
    right: 0px;
    align-self: flex-end;
    background-color: #00005533;
    pointer-events: none;
    justify-content: flex-start;
    flex-direction: column;

    .info_name {
        color: #ffffff77;
    }

    .stats_label {

    }
}

.xp_bar_panel {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0px;
    background-color: #00000033;
    pointer-events: none;

    .overlay_panel {
        width: 100%;
        height: 100%;
        background-color: #8888ff33;
        transition: all 0.2s ease-in-out;
    }
}



