//@import "/UI/Theme.scss";

Nametag {
    position: absolute;
    //border: 1px solid white;
    width: 300px;
    flex-direction: column;
    //text-align: center;
    //flex-direction: column;
    //align-content: center;
    //text-anchor: middle;
    //align-items: center;
    justify-content: center;


    .name {
        opacity: 1;
        color: #00000088;
        font-size: 24px;
        align-self: center;
    }

    .hpbar {
        width: 100px;
        height: 8px;
        //border: 2px solid blue;
        background-color: #00000099;
        align-self: center;
        position: absolute;
        bottom: 28px;
    }

    .hpbaroverlay {
        width: 0px;
        height: 8px;
        //border: 2px solid blue;
        background-color: green;
        //text-anchor: initial;
        position: absolute;
        bottom: 28px;
        align-self: center;
        transform-origin: left;
        //transform: scaleX(0.5);
        transition: transform 0.4s ease-out, opacity 0.25s linear, background-color 0.25s linear;
    }
}
