@using System
@using Sandbox
@using Sandbox.UI
@namespace Test2D
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() )
    return;

<root>

    <label class="name">
        @Player.Client.Name.Truncate( 12, ".." )
    </label>

    <label class="level">
        @Player.Level.ToString()
    </label>

    @if (!Hidden)
    {
        <div class="hpbar">
            <div @ref="HpBarDelta" class="hpbardelta"></div>
            <div @ref="HpBarOverlay" class="hpbaroverlay"></div>
        </div>
    }

</root>

@code
{
    public PlayerCitizen Player { get; set; }

    public Panel HpBarOverlay { get; set; }
    public Panel HpBarDelta { get; set; }
    public Panel ReloadBar { get; set; }

    public bool Hidden;

    public Nametag()
    {
    }

    public void InitForPlayer( PlayerCitizen player )
    {
        Player = player;

        if ( player == MyGame.Current.LocalPlayer )
            AddReloadBar();
    }

    public void AddReloadBar()
    {
        ReloadBar = new Panel();
        ReloadBar.AddClass("reload_bar");
        AddChild(ReloadBar);
    }

    public override void Tick()
    {
        base.Tick();

        if ( !Player.IsValid() )
            return;

        if (HpBarOverlay == null || HpBarDelta == null)
            return;

        var screenPos = Camera2D.Current.WorldToScreen((Vector2)Player.SceneObject.Position + new Vector2(0f, 1.42f + Player.HeightZ)) * ScaleFromScreen;

        Style.Left = screenPos.x;
        Style.Top = screenPos.y;

        var player_health_ratio = Math.Clamp(Player.Health / Player.Stats[PlayerStat.MaxHp], 0f, 1f);

        HpBarOverlay.Style.Width = Length.Fraction(player_health_ratio);
        HpBarDelta.Style.Width = Length.Fraction(player_health_ratio);

        //var colors = new List<Color>() { Color.Green, Color.Yellow, Color.Red };
        //var t = 1f - player_health_ratio;
        //float scaledTime = t * 2f;
        //Color oldColor = colors[(int)scaledTime];
        //Color newColor = colors[(int)(scaledTime + 1f)];
        //float newT = scaledTime - MathF.Round(scaledTime);
        //var color = Color.Lerp(oldColor, newColor, newT);

        var color = Lerp3(new Color(0f, 0.75f, 0f), new Color(0.75f, 0.75f, 0f), new Color(1f, 0f, 0f), 1f - player_health_ratio);
        HpBarOverlay.Style.BackgroundColor = color;

        if (ReloadBar != null)
        {
            if (Player.IsReloading)
            {
                ReloadBar.AddClass("showing");

                var progress = Utils.EasePercent(Player.ReloadProgress, EasingType.CubicInOut);

                ReloadBar.Style.Width = Length.Fraction(progress);
            }
            else
            {
                ReloadBar.RemoveClass("showing");
            }
        }
    }

    Color Lerp3(Color a, Color b, Color c, float t)
    {
        if (t < 0.5f) // 0.0 to 0.5 goes to a -> b
            return Color.Lerp(a, b, t / 0.5f);
        else // 0.5 to 1.0 goes to b -> c
            return Color.Lerp(b, c, (t - 0.5f) / 0.5f);
    }

    public void SetVisible(bool visible)
    {
        Hidden = !visible;
        StateHasChanged();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Player?.Level );
    }

}
